# Michelson Interferometer Control Software
# https://github.com/gucci-on-fleek/michelson-interferometer
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff

__pycache__
.flatpak-builder
.venv
*.egg-info
*.ui
build/
build/ca.maxchernoff.michelson_interferometer.flatpak
