# Michelson Interferometer Control Software
# https://github.com/gucci-on-fleek/michelson-interferometer
# SPDX-License-Identifier: MPL-2.0+
# SPDX-FileCopyrightText: 2025 Max Chernoff

# This file contains **only** the dependencies to be installed in the AppImage
# from pip.
matplotlib ~= 3.10
pylablib-lightweight[extra, devio] ~= 1.4

